:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(243,233,224);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

// .card {
// }

h1{
  font-family: 'Fraunces', serif;
    margin: 2rem;
    font-size: 3rem;
}

.card-category{
  margin: 2rem;
  font-weight: 500;
}

.card-body{
  background-color: var(--white);
  float: right;
  width: 250px;
  height: 40vh;
  border-radius: 0 3% 3% 0;
}

.card-info {
  font-size: 13px;
  margin: 2rem;
  font-weight: 400;
}

.card-price {
  color: var(--dark-cyan);
  margin: 2rem;
  margin-top: 35px;
}

.card-button {
  background-color: var(--dark-cyan);
  color: var(--white);
  margin: 2rem;
  background: url(/product-preview-card-component-main/images/icon-cart.svg);
}

.card-picture {
  float: left;
  width: 250px;
  height: 40vh;
  border-radius: 3% 0 0% 3%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



